body {
    background-image: url('../img/pineapple.jpg');
    
}

.container{
	margin-top: 70px;
	margin-bottom: 70px;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
    font-family: 'Droid Serif', 'serif'
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}